.mazeContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
}

.maze {

    position: absolute;
    box-sizing: content-box;

    .block {
        position: absolute;
        box-sizing: content-box;
        width: 36px;
        height: 36px;
        background-color: white;
        border: 2px solid #e9a3a300;
        margin: 0;
        cursor: pointer;
        &:hover {
            background-color: lighten($color: #00ffb3, $amount: 30);
        }
    }

    .block.selected {
        background-color: #00ffb3;
        &:hover {
            background-color: lighten($color: #00ffb3, $amount: 20);
        }
    }

    .topWall {
        border-top: 2px solid black;
    }
    .leftWall {
        border-left: 2px solid black;
    }
    .rightWall {
        border-right: 2px solid black;
    }
    .bottomWall {
        border-bottom: 2px solid black;
    }
}